USE [master]
GO
/****** Object:  Database [Kentfoods_DW]    Script Date: 27-11-2025 15:42:06 ******/
CREATE DATABASE [Kentfoods_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kentfoods_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Kentfoods_DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kentfoods_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Kentfoods_DW_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kentfoods_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kentfoods_DW]
GO
/****** Object:  User [NT SERVICE\MSSQLServerOLAPService]    Script Date: 27-11-2025 15:42:06 ******/
CREATE USER [NT SERVICE\MSSQLServerOLAPService] FOR LOGIN [NT SERVICE\MSSQLServerOLAPService] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\MSSQLServerOLAPService]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT SERVICE\MSSQLServerOLAPService]
GO
/****** Object:  Table [dbo].[dimCategorias]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimCategorias](
	[categoriaID] [int] NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[descripcion] [nvarchar](256) NULL,
 CONSTRAINT [PK_dimCategorias] PRIMARY KEY CLUSTERED 
(
	[categoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimClientes]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimClientes](
	[clienteID] [nchar](5) NOT NULL,
	[nombre] [varchar](30) NULL,
 CONSTRAINT [PK_dimClientes] PRIMARY KEY CLUSTERED 
(
	[clienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimDestino]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimDestino](
	[ciudadDestino] [varchar](15) NOT NULL,
	[paisDestino] [varchar](15) NOT NULL,
 CONSTRAINT [PK_dimDestino] PRIMARY KEY CLUSTERED 
(
	[ciudadDestino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimEmpleados]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimEmpleados](
	[empleadoID] [int] NOT NULL,
	[nombreCompleto] [varchar](35) NOT NULL,
	[territorioID] [int] NOT NULL,
 CONSTRAINT [PK_dimEmpleados] PRIMARY KEY CLUSTERED 
(
	[empleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimProductos]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimProductos](
	[productoID] [int] NOT NULL,
	[producto] [varchar](40) NOT NULL,
	[categoriaID] [int] NOT NULL,
	[precioUnitario] [float] NOT NULL,
 CONSTRAINT [PK_dimProductos] PRIMARY KEY CLUSTERED 
(
	[productoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimRegion]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimRegion](
	[regionID] [int] NOT NULL,
	[region] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dimRegion] PRIMARY KEY CLUSTERED 
(
	[regionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimTerritorio]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimTerritorio](
	[territorioID] [int] NOT NULL,
	[territorio] [varchar](50) NOT NULL,
	[regionID] [int] NOT NULL,
 CONSTRAINT [PK_dimTerritorio] PRIMARY KEY CLUSTERED 
(
	[territorioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimTiempo]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimTiempo](
	[fecha] [int] NOT NULL,
	[mes] [int] NOT NULL,
	[anio] [int] NOT NULL,
	[sem] [int] NOT NULL,
	[trim] [int] NOT NULL,
 CONSTRAINT [PK_dimTiempo] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimTransportista]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimTransportista](
	[transportistaID] [int] NOT NULL,
	[transportista] [varchar](40) NOT NULL,
 CONSTRAINT [PK_dimTransportista] PRIMARY KEY CLUSTERED 
(
	[transportistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleadoPaso]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleadoPaso](
	[empleadoID] [int] NOT NULL,
	[nombreCompleto] [varchar](35) NOT NULL,
	[territorioID] [int] NOT NULL,
 CONSTRAINT [PK_empleadoPaso] PRIMARY KEY CLUSTERED 
(
	[empleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factTable]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factTable](
	[ordenID] [int] NOT NULL,
	[fecha] [int] NOT NULL,
	[empleadoID] [int] NOT NULL,
	[productoID] [int] NOT NULL,
	[transportistaID] [int] NOT NULL,
	[clienteID] [nchar](5) NOT NULL,
	[ciudadDestino] [varchar](15) NOT NULL,
	[cantidad] [int] NOT NULL,
	[montoPorUnidad] [float] NOT NULL,
	[dcto] [real] NULL,
	[total] [float] NULL,
 CONSTRAINT [PK_factTable] PRIMARY KEY CLUSTERED 
(
	[ordenID] ASC,
	[fecha] ASC,
	[empleadoID] ASC,
	[productoID] ASC,
	[transportistaID] ASC,
	[clienteID] ASC,
	[ciudadDestino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transportistaPaso]    Script Date: 27-11-2025 15:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transportistaPaso](
	[transportistaID] [int] NOT NULL,
	[transportista] [varchar](40) NOT NULL,
 CONSTRAINT [PK_transportistaPaso] PRIMARY KEY CLUSTERED 
(
	[transportistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dimEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_dimEmpleados_dimTerritorio] FOREIGN KEY([territorioID])
REFERENCES [dbo].[dimTerritorio] ([territorioID])
GO
ALTER TABLE [dbo].[dimEmpleados] CHECK CONSTRAINT [FK_dimEmpleados_dimTerritorio]
GO
ALTER TABLE [dbo].[dimProductos]  WITH CHECK ADD  CONSTRAINT [FK_dimProductos_dimCategorias] FOREIGN KEY([categoriaID])
REFERENCES [dbo].[dimCategorias] ([categoriaID])
GO
ALTER TABLE [dbo].[dimProductos] CHECK CONSTRAINT [FK_dimProductos_dimCategorias]
GO
ALTER TABLE [dbo].[dimTerritorio]  WITH CHECK ADD  CONSTRAINT [FK_dimTerritorio_dimRegion] FOREIGN KEY([regionID])
REFERENCES [dbo].[dimRegion] ([regionID])
GO
ALTER TABLE [dbo].[dimTerritorio] CHECK CONSTRAINT [FK_dimTerritorio_dimRegion]
GO
ALTER TABLE [dbo].[factTable]  WITH CHECK ADD  CONSTRAINT [FK_factTable_dimClientes] FOREIGN KEY([clienteID])
REFERENCES [dbo].[dimClientes] ([clienteID])
GO
ALTER TABLE [dbo].[factTable] CHECK CONSTRAINT [FK_factTable_dimClientes]
GO
ALTER TABLE [dbo].[factTable]  WITH CHECK ADD  CONSTRAINT [FK_factTable_dimDestino] FOREIGN KEY([ciudadDestino])
REFERENCES [dbo].[dimDestino] ([ciudadDestino])
GO
ALTER TABLE [dbo].[factTable] CHECK CONSTRAINT [FK_factTable_dimDestino]
GO
ALTER TABLE [dbo].[factTable]  WITH CHECK ADD  CONSTRAINT [FK_factTable_dimEmpleados] FOREIGN KEY([empleadoID])
REFERENCES [dbo].[dimEmpleados] ([empleadoID])
GO
ALTER TABLE [dbo].[factTable] CHECK CONSTRAINT [FK_factTable_dimEmpleados]
GO
ALTER TABLE [dbo].[factTable]  WITH CHECK ADD  CONSTRAINT [FK_factTable_dimProductos] FOREIGN KEY([productoID])
REFERENCES [dbo].[dimProductos] ([productoID])
GO
ALTER TABLE [dbo].[factTable] CHECK CONSTRAINT [FK_factTable_dimProductos]
GO
ALTER TABLE [dbo].[factTable]  WITH CHECK ADD  CONSTRAINT [FK_factTable_dimTiempo] FOREIGN KEY([fecha])
REFERENCES [dbo].[dimTiempo] ([fecha])
GO
ALTER TABLE [dbo].[factTable] CHECK CONSTRAINT [FK_factTable_dimTiempo]
GO
ALTER TABLE [dbo].[factTable]  WITH CHECK ADD  CONSTRAINT [FK_factTable_dimTransportista] FOREIGN KEY([transportistaID])
REFERENCES [dbo].[dimTransportista] ([transportistaID])
GO
ALTER TABLE [dbo].[factTable] CHECK CONSTRAINT [FK_factTable_dimTransportista]
GO
USE [master]
GO
